body, div, ul, li,article,section,h1,h2,h3,table,thead,tbody,tfoot{margin:0;padding:0;list-style-type:none}
/*a:link, a:visited{text-decoration:none;color:#333333;}*/
/*a{color:#0088DB;text-decoration:none;cursor:pointer}
a:hover{text-decoration:underline;color:#08A5E0;text-decoration:none;}*/
a,img{border:0;}
input{font-size:12px;font-size:100%;font-family:microsoft yahei;outline:none;line-height:normal;color:#444;}
input[type='text']{/*width:150px;height: 20px;*/line-height: 20px;text-indent: 4px;border: 1px solid #ccc;font-size: 15px;}
/*input[type='button'] {background-color:#4797ED;border:none;border-radius:10px;box-shadow:0 0 3px #aaa;width:70px;height:30px;line-height:21px;color:#fff;font-size:12px;font-weight:bold;cursor:pointer;margin-right:20px;display:block;outline:none;text-shadow:0 1px 1px #777;float:left;}
input[type='button']:hover {background-color:#d8d8d8;color:#666;text-shadow:1px 1px 1px #fff;}
*/
body{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: #C7EDCC;
color:#333333;line-height:25px;font-size:14px;
}

select {
    color: #444;
}

table {   
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border-top: 1px solid #888888;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #888888;
    background-color: #FFFFFF;
    width:100%;
}
    table.data tbody tr:nth-child(even) td{
    background:#def;
    }

th,td {
    padding: 5px 10px;
    border-top: none;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
    border-left: none;
    vertical-align: middle;
}

td {
    background-color: #FFF;
    width: auto;
    text-align: left;    
}

thead th {
    background-color: #EDF1F2;
    color:#323338;
    font-style: normal; 
}

/* 第1行、左端的元素 */
tr:first-child th:first-child,
tr:first-child td:first-child {
    border-top-left-radius: 10px; /* 左上角的圆角*/
}

/*第1行、右端的元素 */
tr:first-child th:last-child,
tr:first-child td:last-child {
    border-top-right-radius: 10px; /* 右上角的圆角*/
}

/*使用thead时的tbody的第1行、左端的元素*/
thead ~ tbody tr:first-child th:first-child,
thead ~ tbody tr:first-child td:first-child {
    border-top-left-radius: 0; /*每一个左上角*/
}

/*使用thead时的tbody的第1行、右端的元素*/
thead ~ tbody tr:first-child td:last-child {
    border-top-right-radius: 0; /*每一个右上角 */
}

/* tbody的最后1行、左端的元素*/
tbody tr:last-child th:first-child,
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 左下角的圆角*/
}

/* tbody的最后1行、右端的元素*/
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 右下角的圆角*/
}
/*修改的单元格样式*/ 
table.data tbody tr.tdModify td{background-color:blue;color: #ddd; }
/*删除的单元格样式*/
table.data tbody tr.tdDelete td{background-color:red}
/*说明*/
.pShuomin{  line-height:20px;font-size:16px;font-weight: bold;color:blue;}
.pShuominLine{line-height:15px;font-size:12px;letter-spacing:1px}

.ui-corner-all .ui-widget-header{background: linear-gradient(to bottom, #fff 0%,#c3c3c3 100%);border: 0; color: #888888;}

.window_inner .window_content { background:#fff;
}
/*表格滚动条*/
.table-responsive {
    overflow: auto;
    height: 750px;
    width: 99%;
}
.dlDatePic {
    width: 300px;
    height: 200px;
    overflow: auto;
    float: right;
}

.dlDatePic > img {
    width: 300px;
}